
<div class="container-fluid">
  <!-- The Modal -->
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete!!!
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteModal()">YES</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">NO</button>
        </div>

      </div>
    </div>
  </div>
</div>
